# Ignore compiled Python files
__pycache__/
*.pyc

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment folders
venv/
.env/
.venv/

# Environment variable files
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
